.taskCard {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  border: solid 1px rgb(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in-out;
}

.taskCard:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.taskCard.checked {
  text-decoration: line-through;
  color: #28a745;
}

.taskCheckbox {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: #28a745;
}

.taskInput {
  margin: 0;
  flex-grow: 1;
  line-height: 1.5;
  font-size: 1rem;
  box-sizing: border-box;
  height: 1.5rem;
  padding: 0.25rem 0.5rem; /* Adjusted padding */
  background-color: transparent;
  border: 1px solid #007bff; /* Default border color */
  border-radius: 5px; /* Changed border-radius to match your design */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.taskText {
  margin: 0;
  flex-grow: 1;
  line-height: 1.5;
  font-size: 1rem;
}

.editingContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.25rem;
}

.saveIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.saveIcon:hover {
  color: #28a745;
  transform: scale(1.2);
}
